[DFTBaby]
# tighter convergence 
scf_conf=1e-14
# disable DIIS mixer
density_mixer=None

long_range_correction=1
dispersion_correction=1

nr_active_occ=12
nr_active_virt=12

verbose=1

[SurfaceHopping]
# initial electronic state 
initial_state = "fragment"
# local H->L excitation on one ethene molecule
fragment_excitation = (1,0,1,0)
## charge transfer excitation from one ethene molecule to the other
#fragment_excitation = (1,0,2,0)

# number of excited states. Only the lowest states are calculated with TD-DFTB.
# For dynamics in the ground state `nstates` should be set to 0 to avoid the
# expensive calculation of excitation energies and non-adiabatic couplings.
nstates = 10

# number of nuclear steps
nstep = 1000

# length of nuclear time step for integration of Newton's equations (in fs).
nuclear_step = 0.1

# dynamics mode: 'T' for constant temperature, 'E' for constant energy.
# To equilibrate a trajectory on the ground state use 'T',
# non-adiabatic dynamics on excited states should be run at constant energy.
dyn_mode = "E"

# temperature in Kelvin, only needed if the dynamics is run at constant temperature
temp = 300.0

